:root {
    font-size: 12px;    
}
* {
    box-sizing: border-box;
}
body {
    /* position: absolute; */
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Spartan', sans-serif;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
/* Main */
main.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, fit-content(100%));
    grid-template-areas:
        "hero-img"
        "hero-copy"
        "dark"
        "about"
        "light";
    position: relative;
}
/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 4rem 2rem;
    z-index: 4;
}
.logo-container {
    width: 60%;
    padding-left: 0.2rem;
}
.open-menu {
    width: 20%;
}
.nav-container {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    margin-right: -2rem;
    transition: transform 0.3s ease-out;
    transform: translateY(-200%);
    background-color:hsl(0, 0%, 100%);
    z-index: 2;
}
.close-menu {
    align-self: center;
    margin: 2rem 0;
    margin-right: auto;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: -0.85rem;
    padding: 0;
}
.nav-menu li {
    margin: 0 1.2rem;
}
.nav-menu span {
    position: relative;
    top: 1px;
}
.nav-menu a {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: hsl(0, 100%, 0%);
}
#menu-active-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: hsla(0, 0%, 0%, 0.502);
    z-index: 3;
}
/* Hero */
.hero-box, section {
    padding: 4rem 2.65rem;
}
.hero-heading {
    width: fit-content;
    font-size: 2.3rem;
    letter-spacing: -1px;
    text-shadow: 0 0 hsl(0, 0%, 0%);
    line-height: 2.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.hero-subheading {
    width: fit-content;
    font-size: 1rem;
    letter-spacing: -0.3px;
    line-height: 1.65rem;
    vertical-align: super;
    color: hsl(0, 0%, 70%);
}
.btn {
    color: hsl(0, 100%, 0%);
}
.btn-cta {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.85rem;
    margin: 3rem 1rem 3rem 0;
}
.cta-arrow-container {
    display: inline-block;
    margin: 0 1.4rem;
}
/* Slider */
.hero-slider-container {
    width: 100%;
    height: 60vh; 
    grid-area: hero-img;
}
#hero-slider {
    position: relative;
    top: 0;
    background: url("../images/mobile-image-hero-1.jpg");
    background-size: 100% 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}
.slider-control {
    position: absolute;
    bottom: 0px;
    right: 0;
    display: flex;
    background-color: hsl(0, 100%, 0%);
}
.left-arrow, .right-arrow {
    display: block;
    width: 14px;
    height: 24px;
    margin: 1.15rem 0;
    stroke-width: 1.5px;
}
.left-arrow {
    margin-left: 1.85rem;
    margin-right: 1.5rem;
}
.right-arrow {
    margin-left: 1.5rem;
    margin-right: 1.85rem;
}
.hero-box {
    grid-area: hero-copy;
}
.dark-container {
    grid-area: dark;
}
.about-text {
    grid-area: about;
}
.light-container {
    grid-area: light;
}
/* About */
.about-heading {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 0 0 hsl(0, 100%, 0%);
    text-transform: uppercase;
}
.about-subheading {
    width: fit-content;
    font-size: 1rem;
    line-height: 1.65rem;
    font-kerning: none;
    word-spacing: -1px;
    letter-spacing: -0.1px;
    color:hsl(0, 0%, 70%);
}
/* Attribution */
.attribution {
    font-size: 11px; 
    text-align: center;
    padding: 1rem;
    color:hsl(0, 0%, 100%);
    background-color: hsl(100, 4%, 14%);
}
.attribution a {
    color: hsl(92, 36%, 68%); 
}
/* Desktop */
@media screen and (min-width: 1024px) {
    /* Main */
    main.container {
        grid-template-columns: repeat(2, 1fr) 0.75fr 0.05fr repeat(3, 1fr) 0.85fr 0.20fr 0.75fr repeat(2, 1fr);
        grid-template-rows: repeat(3, 0.982fr);
        grid-template-areas:
        "hero-img hero-img hero-img hero-img hero-img hero-img hero-img hero-copy hero-copy hero-copy hero-copy hero-copy"
        "hero-img hero-img hero-img hero-img hero-img hero-img hero-img hero-copy hero-copy hero-copy hero-copy hero-copy"
        "dark dark dark dark about about about about light light light light";
    }
    /* Header */
    header {
        flex-direction: row;
        justify-content: flex-start;
        padding: 5.3rem 5.1rem;
    }
    .logo-container, .open-menu {
        width: unset;
    }
    .nav-container {
        width: min-content;
        position: static;
        top: unset;
        left: unset;
        padding: 0;
        margin-left: 3.4rem;
        transform: none;
        transition: none;
        background-color: unset;
    }
    .close-menu, .open-menu {
        display: none;
    }
    .nav-menu {
        margin: 0;
    }
    .nav-menu li {
        padding-bottom: 10px;
        margin: 0 1.3rem;
    }
    .nav-menu a {
        font-weight: 500;
        letter-spacing: -0.4px;
        color: hsl(0, 0%, 100%);
    }
    /* Hero */
    .hero-box {
        padding: 7.4rem 5.8rem;
    }
    .hero-heading {
        font-size: 3.2rem;
        font-weight: 600;
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.589);
        line-height: unset;
        margin: 2.5rem 0 2.3rem;
    }
    .hero-heading, .hero-subheading {
        padding-right: 2.5rem;   
    }
    .btn-cta {
        display: flex;
        margin: 2.5rem 1rem 2.5rem 0;
    }
    .cta-arrow-container {
        display: flex;
        align-self: flex-end;
        margin-left: 2.75rem;
    }
    /* Slider */
    #hero-slider {
        width: 100%;
        height: auto;
        background: url("../images/desktop-image-hero-1.jpg");
        background-repeat: no-repeat;
        background-size: unset 100%;
    }
    .slider-control {
        right: -10.9rem;
    }
    .left-arrow path, .right-arrow path {
        stroke:hsl(0, 0%, 63%);
    }
    .left-arrow-container, .right-arrow-container {
        padding: 15px 13px;
    }
    .left-arrow-container:hover, .right-arrow-container:hover {
        background-color: rgb(106, 105, 105);
    }
    /* About */
    .about-text-container {
        margin: 2rem 1.3rem;
    }
    .about-subheading {
        letter-spacing: -0.3px;
        word-spacing: 0.2px;
        font-kerning: auto;
        margin: 1.1rem 0;
    }
}